# Conditional Statement

In [1]:
x=39
if x<20:
    print ("x is less than 20")
else :
    print ("x is greater than 20")

x is greater than 20

In [3]:
income=100
if income < 100 :
    print ("I can buy a nokia")
elif income < 150 :
    print ("I can buy a nokia + ")
else :
    print ("I can buy an iphone")

I can buy a nokia +

In [ ]:
name=input()
print ("Please enter name")
print ("My name is : " , name)

In [ ]:
income=int(input())

In [ ]:
print ("My name is : " , name)

In [ ]:
print ("My name is : " +  name)

In [ ]:
l=[1,2,3,4,5,6,7,7]

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

In [2]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [16]:
l=[1,2,3,4,5,6,7,7, "Abhi", "nagpur"]
for i in l :
    print(i)

1
2
3
4
5
6
7
7
Abhi
nagpur

In [12]:
l=[1,2,3,4,5,6,7,7, "Abhi", "nagpur"]
for i in l :
    print([i])

[1]
[2]
[3]
[4]
[5]
[6]
[7]
[7]
['Abhi']
['nagpur']

In [13]:
for i in l :
    if type(i) == str :
        print(i)

Abhi
nagpur

In [5]:
for i in l :
    if type(i) == int :
        print(i*i)

1
4
9
16
25
36
49
49

In [6]:
print("Abhi")

Abhi